*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html, body{
    height: 100%;
}
body{
    position: relative;
}
.show{
    display: block;
}
.large-heading{
    font-size:4rem;
}
/***************************
        Background
***************************/
.bg-img{
    color: white;
    background-image: url('onepage_restaurant.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
/**************************
        Modal Btns
**************************/
.modals{
    position: absolute;
    top: 5%;
    left: 2%;
}
#menu-modal, #contact-modal{
    background: #222;
    text-align: center;
    font-size: 1.5rem;
    padding:1.5rem 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
#menu-modal:hover,
#contact-modal:hover{
    background: #888;
    color: #111 !important;
}

/**************************
        Bottom Box
**************************/
.bottom-box{
    position: absolute;
    bottom: 2%;
    left: 2%;
    text-transform: capitalize;
}
.timing{
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
}
.address{
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    
}
.footer{
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}
/*************************
    Center Logo
*************************/
.center-logo{
    position: absolute;
    top: 45%;
    left: 40%;
}

/*************************
          Modals
*************************/
#modal-menu{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}
.modal-menu-content{
    width: 80%;
    margin: 2rem auto;
}
h2.medium-heading{
    position: relative;
}
.close-btn{
    position: absolute;
    right: 0;
    cursor: pointer;
}
.close-btn:hover{
    background-color: #999;
    color: #111
}
#modal-contact{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}
.black-container{
    background-color: black;
    color: white;
    padding: 1rem 1rem;
    font-size: 1.5rem;
}
.white-container{
    background-color: white;
    color: black;
    font-size: 1.2rem;
    padding: 0 1rem;
}
.white-container p{
    padding: 1rem 0;
    position: relative;
}
.white-container p span{
    position: absolute;
    right: 0;
    font-weight: 700;
}
.white-container form input{
    display: inline-block;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    
}
.white-container form button{
    margin: 1rem 0;
    padding: 0.5rem 1rem; 
    background-color: white;
    cursor: pointer;
}
.white-container form button:hover{
    background-color: #ccc;
    transform: scale(1.1);
}